name: EKS-Acess

on:
  workflow_dispatch:

permissions:
  id-token: write # Required for OIDC authentication
  contents: read

jobs:
  kube-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_EKS_ARN }}
          aws-region: ${{ secrets.AWS_REGION }} # Change to your region

      - name: Update Kubeconfig
        run: |
          aws eks update-kubeconfig --name ${{secrets.EKS_CLUSTER_NAME }} --region ${{secrets.AWS_REGION }}

      - name: Verify Access
        run: |
          kubectl get nodes
          kubectl cluster-info

     
